pip==23.1.2
python-multipart==0.0.6
numpy==1.24.2
scipy
scikit-learn
matplotlib
pandas==2.0.0
lightgbm==3.3.5
fastapi==0.95.2
uvicorn==0.22.0
gunicorn==19.9.0
uvloop
httptools
jinja2==3.0.3
